html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		title BA - Index
	body
		if user
			nav.nav-extended
				.nav-wrapper
					a.brand-logo(href='#') Logo
					a.button-collapse(href='#', data-activates='mobile-demo')
						i.material-icons menu
					ul#nav-mobile.right.hide-on-med-and-down
						li
							a(href="/logout") Logout
						li
							a(href="/profile") Go to profile
		else
			nav(class="navbar navbar-light bg-faded")
				ul.nav.nav-tabs
					li(role='presentation')
						a(href= "/login") Login
					li(role='presentation')
						a(href= "/register") Register
					li(role='presentation')
						a(href= "/profile") Go to profile
	h1 Welcome
	if user
		p Hello #{user.name}
	else
		p Login or register please
	p #{message}
	
	script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')


