html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		title BA - Index
	body
		nav(class="navbar navbar-light bg-faded")
			if user
				div
					a(href="/logout") Logout
			else
				div
					a(href= "/login") Login
				div
					a(href= "/register") Register
			div 
				a(href= "/profile") Go to profile
		h1 Welcome
		if user
			p Hello #{user.name}
		else
			p Login or register please
		p #{message}
