html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		title BA - Login
	body
		nav(class="navbar navbar-light bg-faded")
			div
				a(href= "/register") Register
			div
				a(href= "/") Index
			div
				a(href='/profile') Go to your profile!
		h2 Type in your email and password to login
		form(action='/login' method='post')
			h3 Type in your email:
			input(name= 'email')
			h3 Type in your password:
			input(name= 'password' type='password')
			br
			br
			input(type= 'submit' value= "Login")
