html
	head
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		title BA - Login
	body
		nav.nav-extended
				.nav-wrapper
					a.brand-logo(href='#') Logo
					a.button-collapse(href='#', data-activates='mobile-demo')
						i.material-icons menu
					ul#nav-mobile.right.hide-on-med-and-down
						li
							a(href= "/register") Register
						li
							a(href= "/") Index
						li
							a(href= "/profile") Profile
	
	.container
		.row
			.col.s6.offset-s6
			h3 Login
			form.col.s12(action='/login' method='post')
				.row
					.input-field.col.s6
						input#email.validate(type='email')
						label(for='email') Email
				.row
					.input-field.col.s6
						input#password.validate(type='password')
						label(for='password') Password			
				.row
					.input-field.col.s6
						input(type='submit' value= "Submit")


		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')