html
	head
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		title BA - Login
	body
		nav(class="navbar navbar-light bg-faded")
			div
				a(href= "/register") Register
			div
				a(href= "/") Index
			div
				a(href='/profile') Go to your profile!
		h2 Type in your email and password to login
		form(action='/login' method='post')
			h3 Type in your email:
			input(name= 'email')
			h3 Type in your password:
			input(name= 'password' type='password')
			br
			br
			input(type= 'submit' value= "Login")
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')