html
	head
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		title BA - My Profile
	body
		nav(class="navbar navbar-light bg-faded")
			div
				a(href="/logout") Log Out
			div
				a(href="/") Index
		h1 Welcome to your profile #{user.name}
		h2
			a(href='/post') View all posts
		h2
			a(href='/myposts') View all your own posts
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')