html
	head
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		title BA - Register 
	body
		nav.nav-extended
				.nav-wrapper.light-blue.darken-3
					a.brand-logo(href='/') Blog App
					a.button-collapse(href='/', data-activates='mobile-demo')
						i.material-icons menu
					ul#nav-mobile.right.hide-on-med-and-down
						li
							a(href= "/login") Login
						li
							a(href= "/profile") Profile
				
					ul#mobile-demo.side-nav
						li
							a(href='/login') Login
						li
							a(href='/profile') Profile
		
		.container
			.row
				.col-xs-6.offset-xs-3
					h3 Register
					form.col.s12(action='/register' method='post')
						h4 Name:
						input(name='name')
						h4 Email:
						input(name='email')
						p(id='usedemail')
						h4 Password:
						input(name='password' type='password')
						br
						br
						input(type='submit' value= "Submit")
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
		script
			include custom.js
