html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		title BA - Register 
	body
		nav(class="navbar navbar-light bg-faded")
			div
				a(href= "/login") Login
			div
				a(href= "/index") Index
			div
				a(href= "/profile") Go to your profile!
		h2 Register
		form(action='/register' method='post')
			h3 Type in your name:
			input(name='name')
			h3 Type in your email:
			input(name='email')
			p(id='usedemail')
			h3 Type in your password:
			input(name='password' type='password')
			br
			br
			input(type='submit' value= "Submit")
